* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	font-family: arial;
	list-style-type: none;
	text-decoration: none;
}
html {
	font-size: 62.5%;
}
header {
	background-color: #FFFFFF;
	padding: .5rem 0;
	box-shadow: 0 .1em #DCDCDC;
}
body {
	height: 100%;
	margin-bottom: 6rem;
}
/* CSS do header e footer das 3 páginas e main da index */
.flex-header {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
.item {
	padding: .5rem;
	margin: .5rem;
}
.logo-header {
	width: 15%;
	min-width: 12rem;
}
nav {
	width: 100%;
	margin: 0 auto;
	padding-right: 15%;
}
.flex-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
nav li {
	margin-left: 1.6rem;
}
nav a {
	color: #1351d8;
	font-weight: bold;
	font-size: 2.1rem;
	text-decoration: none;
	transition: .1s all;
}
nav a:hover {
	font-size: 2.2rem; 
	cursor: pointer;
	color:	#0000CD;
}
.flex-main {
	width: 80%;
	margin: .6rem auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: .5rem;
}
.flex-main img {
	width: 100%;
}
.flex-main p {
	color: #000000;
	font-size: 1.4rem;
	text-align: center;
}
#here {	
	font-weight: bold;
	color: #1B357E;
	font-size: 1.5rem;
	transition: .1s all;
}
#here:hover {
	font-size: 1.6rem;
	cursor: pointer;
	color:	#0000CD;
}
.flex-footer {
	padding: 1rem 2rem;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;	
	margin: 0 auto;
	display: flex;
	background-color: #1B357E;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
.flex-social {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-start;
	gap: .2rem;
}
.social-items {
	height: auto;
	color: #FFFFFF;
	font-size: .8rem;
}
.social-img {
	width: 15%;
}
.social-img img {
	width: 100%;
	min-width: 3rem;
}
#copyright {
	width: 6%;
	padding-right: .1rem;
}
#img-copyright {
	width: 100%;
	min-width: 3.5rem;
}
/* CSS da main do lançamento */
.flex-lancamento {
	width: 100%;
	margin: 0 auto;	
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
.flex-video {
	width: 100%;
}
.flex-video iframe {
	width: 100%;
	height: 420px;
	padding-top: .6rem;
}
.flex-vehicles {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.vehicles-items {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
table input {
	width: 2.5rem;
	height: 2.5rem;
	transition: .01s;
}
table th {
	padding-left: 1rem;
}
.table-text {
	text-align: justify;
	font-size: 1.1rem;
}
.table-text h3 {
	color: #1351d8;
}
#lancamento-button {
  color: #FFFFFF;
  background-color: #1351d8; 
  padding: 1rem 3rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
  margin: 2rem 0 0;
  border-radius: 1.5rem;
  transform: .1s all;
}
#lancamento-button:hover {
	transform: scale(1.02);
	cursor: pointer;
	background-color: #0000CD;
}
/* CSS da main do contato */
.flex-contact {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
	margin: 2rem auto;
	gap: 2.5rem;
}
.form-flex{
	display: flex;
	flex-flow: column nowrap;
}

form input, form textarea {
	display: block;
}
.contact-input {
	width: 100%;
	border: .05rem solid #DCDCDC;
	border-radius: 1rem;
	padding: .8rem;
	margin: .2rem;
	box-shadow: .15rem .1rem .2rem #DCDCDC;
}
#contact-button {
  width: 70%;	
  color: #FFFFFF;
  background-color: #1351d8; 
  padding: 1rem 3rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
  margin: 2rem 0 0;
  border-radius: 1.5rem;
  transform: .1s all;
  align-self: flex-end;
}
#contact-button:hover {
	transform: scale(1.02);
	cursor: pointer;
	background-color: #0000CD;
}
/* Design para mobiles. */
@media screen and (max-width: 900px) {
	body, html, main, .flex-header, .flex-list, .flex-footer, .flex-social {
		width: auto;
	}
	.flex-list {
		flex-flow: column wrap;
	}
	.flex-main {
		height: 90vh;
		flex-flow: column wrap;
		justify-content: center;
	}
	.flex-main p {
		text-align: center;
	} 
	
}
