* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	font-family: arial;
	list-style-type: none;
	text-decoration: none;
}
html {
	font-size: 62.5%;
}
header {
	background-color: #FFFFFF;
	padding: .5rem 0;
	box-shadow: 0 .1em #DCDCDC;
}
body {
	height: 100%;
	margin-bottom: 6rem;
}
/* CSS do header e footer das 3 páginas e main da index */
.flex-header {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
.item {
	padding: .5rem;
	margin: .5rem;
}
.logo-header {
	width: 15%;
	min-width: 12rem;
}
nav {
	width: 100%;
	margin: 0 auto;
	padding-right: 15%;
}
.flex-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
nav li {
	margin-left: 1.6rem;
}
nav a {
	color: #1351d8;
	font-weight: bold;
	font-size: 2.1rem;
	text-decoration: none;
	transition: .1s all;
}
nav a:hover {
	font-size: 2.2rem; 
	cursor: pointer;
	color:	#0000CD;
}
main {
	display: flex;
	justify-content: center;
	align-items: center;
	
}
#carousel {
	width: 100%;
	position: relative;
	
}
.flex-main.selected {
	position: absolute;
	left: 0;
	right: 0;
	width: 80%;
	min-width: 300px;
	margin: .6rem auto;
}
.unselected {
	display: none;
}
.flex-main img {
	width: 100%;
}
.flex-main p {
	color: #000000;
	font-size: 1.4rem;
	text-align: center;
	font-style: italic;
}
.flex-footer {
	padding: 1rem 2rem;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;	
	margin: 0 auto;
	display: flex;
	background-color: #1B357E;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
.flex-social {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-start;
	gap: .2rem;
}
.social-items {
	height: auto;
	color: #FFFFFF;
	font-size: .8rem;
}
.social-img {
	width: 15%;
}
.social-img img {
	width: 100%;
	min-width: 3rem;
}
#copyright {
	width: 6%;
	padding-right: .1rem;
}
#img-copyright {
	width: 100%;
	min-width: 3.5rem;
}
/* CSS da main do lançamento */
.flex-lancamento {
	width: 100%;
	margin: 0 auto;	
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
.flex-video {
	width: 100%;
}
.flex-video iframe {
	width: 100%;
	height: 420px;
	padding-top: .6rem;
}
.flex-vehicles {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.vehicles-items {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
.v-table input {
	width: 2.5rem;
	height: 2.5rem;
	transition: .01s;
}
.v-table th {
	padding-left: 1rem;
}
.table-text {
	text-align: justify;
	font-size: 1.1rem;
}
.table-text h3 {
	color: #1351d8;
}
button {
  color: #FFFFFF;
  background-color: #1351d8; 
  padding: 1rem 3rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
  margin: 2rem 0 0;
  border-radius: 1.5rem;
  transform: .1s all;
}
button:hover {
	transform: scale(1.02);
	cursor: pointer;
	background-color: #0000CD;
}
#c-table {
	border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 1rem;
}
#c-table tr {
	text-align: left;
    vertical-align: middle;
	font-size: 1.2rem;
}
.compare-title {
	font-weight: bold;
	font-size: 1.4rem;
	padding: .35rem;
}
#c-table tr:nth-child(1) {
	width: 40%;
}
#c-table tr:nth-child(even) {background-color: #F2F2F2;}

div#compare {
    position: absolute;
    display: none;
    width: 100%;
    max-width: 800px;
    min-width: 400px;
    height: 100%;
    max-height: 680px;
    min-height: 350px;
    background: #fff;
    top: 100%;
    transform: translateY(-73%);
    left: calc(100% - 80vw);
    border-radius: 10px;
    padding: 10px;
    -webkit-box-shadow: 1px 1px 6px 0px rgb(0 0 0 / 34%);
    box-shadow: 1px 1px 6px 0px rgb(0 0 0 / 34%);
}
/* CSS da main do contato */
.flex-contact {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
	margin: 2rem auto;
	gap: 2.5rem;
}
.form-flex{
	display: flex;
	flex-flow: column nowrap;
}

form input, form textarea {
	display: block;
}
.contact-input {
	width: 100%;
	border: .05rem solid #DCDCDC;
	border-radius: 1rem;
	padding: .8rem;
	margin: .2rem;
	box-shadow: .15rem .1rem .2rem #DCDCDC;
}
#contact-button {
  width: 70%;	
  color: #FFFFFF;
  background-color: #1351d8; 
  padding: 1rem 3rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
  margin: 2rem 0 0;
  border-radius: 1.5rem;
  transform: .1s all;
  align-self: flex-end;
}
#contact-button:hover {
	transform: scale(1.02);
	cursor: pointer;
	background-color: #0000CD;
}
/* Design para mobiles. */
@media screen and (max-width: 1300px) {
	body, html, main, .flex-header, .flex-list, .flex-footer, .flex-social {
		width: auto;
	}
	.flex-list {
		flex-flow: column wrap;
	}
	#carousel {	
		height: 40rem;	
		top: 100%;
		transform: translateY(25%);	
	}
	.flex-main.selected {
		width: 98%;
	}
	.flex-main img {
		height: 30rem;
	}	
}
