* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	font-family: arial;
	list-style-type: none;
	text-decoration: none;
}
html {
	font-size: 62.5%;
}
header {
	background-color: #FFFFFF;
	padding: .5rem 0;
	box-shadow: 0 .1em #DCDCDC;
}
.flex-header {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
.item {
	padding: .5rem;
	margin: .5rem;
}
.logo-header {
	width: 15%;
	min-width: 12rem;
}
nav {
	width: 100%;
	margin: 0 auto;
	padding-right: 15%;
}
.flex-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
nav li {
	margin-left: 1.6rem;
}
nav a {
	color: #1351d8;
	font-weight: bold;
	font-size: 2.1rem;
	text-decoration: none;
}
.flex-main {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: .5rem;
}
#img-main {
	width: 80%;
	height: 88.6vh;
}
.flex-main img {
    width: 100%;
   	height: 100%;
   	padding-top: .6rem;
}

.flex-main p {
	width: 80%;
	color: #000000;
	font-size: 1.4rem;
	text-align: center;
}
#here {	
	font-weight: bold;
	color: #1B357E;
	font-size: 1.5rem;
}
.flex-footer {
	padding: 1rem 2rem;
	position: fixed;
	bottom: 0;
	width: 100%;	
	margin: 0 auto;
	display: flex;
	background-color: #1B357E;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
.flex-social {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-start;
	gap: .2rem;
}
.social-items {
	height: auto;
	color: #FFFFFF;
	font-size: .8rem;
}
.social-img {
	width: 15%;
}
.social-img img {
	width: 100%;
	min-width: 3rem;
}
#copyright {
	width: 6%;
	padding-right: .1rem;
}
#img-copyright {
	width: 100%;
	min-width: 3.5rem;
}

@media screen and (max-width: 480px) {
	body, html, main, .flex-header, .flex-list, .flex-main, .flex-footer, .flex-social {
		width: auto;
	}
	#img-main {
		width: 98%;
	}
	.flex-footer {
		position: static;
		margin-top: .5rem;
	}
}
@media screen and (min-height: 1100px) {
	body, html, main, .flex-header, .flex-list, .flex-main, .flex-footer, .flex-social {
		width: auto;
	}
	
	}
	.flex-footer {
		position: static;
		margin-top: .5rem;
	}
}
@media screen and (max-width: 480px) {
	.flex-list {
		flex-flow: column wrap;
	} 
	.flex-main p {
		text-align: justify;
	}
}